li {
    color: aqua;
}

.demo1 {
    color: blueviolet;
}

p:hover {
    color: blue;
}

p::first-line {
    color: navy;
    font-size: 32px;
}

p::first-letter {
    color: rgb(198, 14, 57);
    font-size: 32px;
}